#MainTopic .CTitle {
	background: #173143;
}

.SBorder {
	background-color: #fafdff;
	border-color: #AAA;
	border-radius: 5px;
}

.SMarked {
	background-color: transparent;
}

.CToolTip {
	background-color: #fafdff;
	border-color: #AAA;
	border-width: 1px;
	box-shadow: 0 2px 5px #888;
}

.CBody ul, .CBody ol {
	padding: 0 22px;
	padding-bottom: 10px;
	margin: 0;
}

.CBody li {
	margin-bottom: 3px;
}

table {
	margin-left: 5px !important;
}

.CDescriptionList {
	margin-bottom: 5px;
}

.Summary {
	margin-left: 0;
	margin-right: 0;
}

.Summary .STitle {
	font-size: 10pt;
}

p {
	text-indent: 0;
	margin-bottom: 15px;
}